@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Lalezar&family=Vazirmatn:wght@400;500;700;900&display=swap');

:root {
    --primary-color: #0D6EFD;
    --blue-color: #7749F8;
    --font-color: #000000;
    ---secondary-color: #6C757D;
    --color: #FFFFFF;
    --font-family: 'Inter', sans-serif;
    --font-400: 400;
    --font-700: 700;
    --font-900: 900;
    --text-small: 14px;
    --text-16: 16px;
    --text-mid: 32px;
    --text-smallest: 15px;
    --text-default: 21px;

}

* {
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    height: 3000px;
    font-family: var(--font-family);

}

.container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
    padding: 0px 12px;
}

.page-title {
    font-size: 23px;
    font-weight: var(--font-700);
    line-height: 28px;
    padding: 16px 0px;
    background-color: var(--primary-color);
    text-align: center;
    color: var(--color);
}

header {
    width: 100%;
    /* height: 100vh; */
}

.bold-name {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    margin-top: 32px;
}

.description {
    padding: 0px 24px;
    border-left: 2px solid #7749F8;
    font-size: 16px;
    font-weight: var(400);
    line-height: 28px;
    text-align: left;
    margin-top: 31.95px;
    color: var(---secondary-color);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.members-list {
    gap: 12px;
    margin-top: 24px;
}

.followers-list {
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.followers-plus {
    color: #0D6EFD;
}

.lable {
    color: #6C757D;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

.title-image {
    width: 100%;
    height: 239.82px;
    object-fit: cover;
}

.tablet-card {
    display: none;
}

.main {
    margin-top: 64px;
    margin-bottom: 64px;
}

.main-title {
    font-size: 24px;
    font-weight: var(--font-700);
    line-height: 29px;
    text-align: center;
    margin-bottom: 24px;
}

.card {
    flex-wrap: nowrap;
    border-radius: 4px;
    border: 1px solid #DEE2E6;
    display: flex;
}

.home-image {
    width: 136.37px;
    height: 471px;
    object-fit: cover;
}

.card-body {
    padding-left: 13.89px;
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-button {
    border-radius: 2px;
    padding: 4px 7px;
    color: var(--color);
    font-size: 9px;
    font-weight: 600;
    line-height: 11px;
    background-color: #6C757D;
    align-self: flex-end;
    margin-right: 32px;
}

.card-title {
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    margin-top: 54.31px;
    margin-bottom: 19.55px;
    align-self: start;
}


.card-description{
    color: #68717A;
    font-size: 12px;
    font-weight: var(400);
    line-height: normal;
    margin-bottom: 17.85px;
    text-align: left;
}

.card-price {
    color: #0D6EFD;
    font-size: 21px;
    font-weight: var(--font-400);
    line-height: 36px;
    margin-bottom: 10.9px;
    align-self: start;
}


.card-detail {
    background-color: #343A40;
    padding: 10px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    align-self: flex-end;
    margin-right: 18.9px;
}

.click-button {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    display: block;
    color: #FFF;
    background-color: #0D6EFD;
    padding: 10px 16Px;
    border: none;
    border-radius: 4px;
    margin: auto;
    margin-top: 24px;
}

/* .bg{
    background-color: #7749F8;
} */
.card-image {
    width: 100%;
    height: 200px;
}

.second-card-body {
    padding: 24px 21.18px 18px 23.6px;
    display: flex;
    flex-direction: column;
}

.second-card {
    border-radius: 4px;
    border: 1px solid #DEE2E6;
}

.second-card-button {
    align-self: start;
    border-radius: 2px;
    padding: 4px 7px;
    color: var(--color);
    font-size: 9px;
    font-weight: 600;
    line-height: 11px;
    background-color: #6C757D;
}

.second-card-title {
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    height: 34px;
    overflow-y: hidden;
    margin-bottom: 0.35px;
    margin-top: 10px;
}

.second-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #68717A;
    margin-bottom: 24px;
}

.price-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.second-card-price {
    color: #0D6EFD;
    font-size: 21px;
    font-weight: var(--font-400);
    line-height: 36px;
}

.second-card-detail {
    background-color: #343A40;
    padding: 10px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.Property {
    margin-bottom: 96px;
}

.footer {
    display: flex;
    padding: 64px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #0D6EFD;
    color: #FFF;
}

.dev-job {
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
}

.dev-name {
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    color: #FFF;
    text-decoration: underline;
}

@media (min-width:576px) and (max-width:992px) {
    .container {
        width:1000px;
        width: 100%;
        margin: auto;
    }
    .tablet-card {
        display:block;
    }
    .mambers-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .title-image{
        margin-top: 30px;
        width: 100%;
    }
    .home-image{
        width: 282.66px;
        height: 282px;
        object-fit: cover;
    }
    .card-body{
        padding:27px 31.84px 22px 28.77px;
    }
    .card-button{
        align-self: flex-start;
    }
    .card-title{
        margin: 10px 0px 0px 0px;
    }
    .card-description{
        margin:0px 0px 26px 0px;
    }
    .first-card-price{
        flex-direction: row;
        display: flex;
        
    }
    .card-price{
        margin-right: 100px;
        margin-bottom: 0px;

    }
 
}